@import '@fontsource/fira-mono';

:root {
	--font-body: 'Alegreya', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-1: #f7e9d5;
	--color-theme-1: #e9a178;
	--color-white: rgb(248, 246, 245);
	--color-1-lighter: #f5b591;
	--color-theme-2: #a84448;
	--color-theme-3: #7a3e65;
	--color-text: rgba(0, 0, 0, 0.9);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
	font-size: 1.1rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
}

h1,
h2,
h3,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	font-family: 'Handlee';
	margin: 0;
}

h2 {
	font-size: 1.5rem;
	margin: 0;
}

h3 {
	margin: 0;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.primary-button {
	border: none;
	padding: 6px 12px;
	border-radius: 5px;
	background-color: var(--color-theme-1);
	cursor: pointer;
	font-weight: 500;
}

.primary-button:hover {
	background-color: var(--color-1-lighter);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	border: none;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
